.education p {
  margin: 0;
}

.education-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.education-degree {
  flex-grow: 1;
}

.education-date {
  justify-self: flex-end;
  text-align: right;
}

.education-details {
  display: grid;
  margin-left: 3rem;
  grid-template-columns: min-content auto;
  column-gap: 2rem;
}

.education-degree strong,
.education-details > *:nth-child(odd) {
  font-variant: small-caps;
  text-wrap: nowrap;
}
