.resume {
  background-color: #f1f1f1;
  color: rgb(34, 34, 34);
  box-sizing: border-box;
  max-width: 850px;
  width: 50%;
  aspect-ratio: 8.5 / 11;
  font-size: 16px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
