.resume-container {
}

.resume {
  background-color: #f1f1f1;
  color: #222222;
  box-sizing: border-box;
  font-size: 16px;
  width: 816px;
  aspect-ratio: 8.5 / 11;
  transform-origin: top left;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}
